.header {
    display: flex;
    margin: 0 auto;
    width: 1020px;
    justify-content: space-between;
}

.logo {
    font-size: 25px;
    font-weight: 700;
    line-height: 20px;
    margin: 34px 0 35px 40px;
    text-transform: uppercase;
    letter-spacing: -0.475px;
    color: white;
}

.logo::after {
    content: "*";
    color: rgb(240, 108, 100);
}

.navbar {
    display: flex;
    margin-top: 45px;
    margin-right: 40px;
    font-size: 12px;
    font-weight: 700;
    line-height: 9px;
    color: white;
    text-transform: uppercase;
    list-style: none;
}

.navpoint {
    position: relative;
}

.navpoint:first-child {
    color: rgb(240, 108, 100);
}

.navpoint:nth-child(2) {
    margin-left: 30px;
    letter-spacing: -0.168px;
}

.navpoint:nth-child(5) {
    letter-spacing: -0.19px;
}

.navpoint + .navpoint {
    margin-left: 29px;
}

.navpoint + .navpoint::before {
    position: absolute;
    bottom: 3px;
    left: -16px;
    color: rgb(73, 78, 98);
    content: ".";
}

.slider {
  background-color: rgb(240, 108, 100);
}

.slider-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  width: 1020px;
  padding: 53px 0;
  margin: 0 auto;
} 

  .arrow_left {
    margin-bottom: 7px;
    margin-left: 42px;
  }
  
  .arrow_right {
    margin-bottom: 7px;
    margin-left: 55px;
  }
  
  .phone {
    position: absolute;
  }
  
  .vertical-phone {
    margin-bottom: 11px;
    margin-left: 54px;
  }
  
  .horizontal-phone {
    margin-bottom: 12px;
    margin-left: 73px;
  }

  .phone_shadow {
    position: absolute;
    top: 115px;
    left: 123px;
    z-index: 2;
    width: 188px;
    height: 333px;
    border: 3px solid rgb(198, 198, 198);
    border-radius: 2px;
  }

  .phone_layer {
    position: absolute;
    top: 63px;
    left: 12px;
    border: 3px solid rgb(198, 198, 198);
    border-radius: 2px;
  }
  
  .phone_base {
    position: absolute;
  }
  
  h4 {
    color: red;
  }

  .services {
    background-color: rgb(242, 242, 242);
    border-bottom: 6px solid rgb(255, 255, 255);
  }

  .services-head {
    margin: 0 0 0 40px;
    font-size: 30px;
    font-weight: 900;
    line-height: 17px;
    color: rgb(102, 109, 137);
    letter-spacing: -0.18px;
  }

  .services-head_text {
    margin: 27px 40px 0 40px;
    font-size: 18px;
    font-weight: 300;
    line-height: 30px;
    color: rgb(118, 126, 158);
    text-align: justify;
  }

  .services-wrapper {
    width: 1020px;
    padding: 69px 0 30px 0;
    margin: 0 auto;
  }

  .services-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-right: 41px;
    margin: 45px 0 0 40px;
  }

  .services-item {
    display: flex;
    max-width: 300px;
    margin-bottom: 32px;
  }

  .service {
    margin: 0 0 0 19px;
  }

  .services-title {
    margin: 0;
    font-size: 18px;
    font-weight: 900;
    line-height: 17px;
    color: rgb(102, 109, 137);
    letter-spacing: -0.09px;
  }

  .services-text {
    height: 63px;
    margin: 11px 0 0 0;
    overflow: hidden;
    font-size: 12px;
    font-weight: 400;
    line-height: 21px;
    color: rgb(118, 126, 158);
    text-align: justify;
  }

  .services-item:nth-child(3) .service,
  .services-item:nth-child(6) .service {
    margin-left: 19px;
  }

  .services-item:nth-child(3) .service__title,
  .services-item:nth-child(6) .service__title {
    margin-left: 2px;
  }

  .icon {
    margin-top: 2px;
    margin-left: 2px;
  }
  
















@font-face {
    font-family: "Lato";
    font-style: normal;
    font-weight: 300;
    font-display: fallback;
    src: url("/assets/fonts/lato-v16-latin-300.woff2") format("woff2"),
      url("/assets/fonts/lato-v16-latin-300.woff") format("woff");
  }
  
  @font-face {
    font-family: "Lato";
    font-style: normal;
    font-weight: 400;
    font-display: fallback;
    src: url("/assets/fonts/lato-v16-latin-regular.woff2") format("woff2"),
      url("/assets/fonts/lato-v16-latin-regular.woff") format("woff");
  }
  
  @font-face {
    font-family: "Lato";
    font-style: normal;
    font-weight: 700;
    font-display: fallback;
    src: url("/assets/fonts/lato-v16-latin-700.woff2") format("woff2"),
      url("/assets/fonts/lato-v16-latin-700.woff") format("woff");
  }
  
  @font-face {
    font-family: "Lato";
    font-style: normal;
    font-weight: 900;
    font-display: fallback;
    src: url("/assets/fonts/lato-v16-latin-900.woff2") format("woff2"),
      url("/assets/fonts/lato-v16-latin-900.woff") format("woff");
  }
  
  body {
    font-family: "Lato", sans-serif;
  }


