body {
    margin: 0;
    font-family: "Lato", Arial, sans-serif;
}

.container {
    width: 100%;
    max-width: 1020px;
    margin: 0 auto;
}

.portfolio {
    height: 864px;
    background-color: rgb(45, 48, 58);
    border-bottom: 6px solid rgb(50, 55, 70);
}

.portfolio > .container > .portfolio-head {
    padding-top: 69px;
    padding-left: 40px;
    font-size: 30px;
    line-height: 18px;
    color: rgb(102, 109, 137);
    font-family: "Lato";
    font-weight: 900;
    letter-spacing: 0.6px;
}

.portfolio > .container > .portfolio-text {
    padding-top: 28px;
    padding-left: 40px;
    font-size: 18px;
    line-height: 30px;
    color: rgb(118, 126, 158);
    font-family: "Lato";
    font-weight: 300;
    letter-spacing: -0.2px;
}

.portfolio > .container > .button-array {
    padding-top: 10px;
    padding-left: 40px;
    padding-bottom: 19px;
}

.portfolio > .container > .button-array > button {
    background: none;
    font-size: 12px;
    height: 22px;
    border-radius: 5px;
    border: 1px solid rgb(102, 109, 137);
    font-family: "Lato";
    font-weight: 400;
    color: rgb(118, 126, 158);
    margin-right: 10px;
    letter-spacing: -0.3px;
    outline: none;
}

.portfolio > .container > .button-array > button:hover {
    border: 1px solid rgb(197, 197, 197);
    color: rgb(222, 222, 222);
}

.portfolio > .container > .gallery {
    display: grid;
    grid-template:  repeat(3, 187px)/repeat(4, 220px);
    grid-gap: 20px 20px;
    justify-content: center;
}

.portfolio > .container > .gallery > a > img:hover {
    opacity: 0.8;
    cursor: pointer;
    filter: drop-shadow(0px 0px 5px rgb(242, 242, 242));
}

.about-us {
    height: 728px;
    background-color: rgb(242, 242, 242);
    border-bottom: 6px solid white;
}

.about-us > .container > .about-us-head {
    padding-top: 69px;
    padding-left: 40px;
    font-size: 30px;
    line-height: 18px;
    color: rgb(102, 109, 137);
    font-family: "Lato";
    font-weight: 900;
    letter-spacing: 0.6px;
}

.about-us > .container > .about-us-text {
    padding-top: 27px;
    padding-left: 40px;
    font-size: 18px;
    line-height: 30px;
    color: rgb(118, 126, 158);
    font-family: "Lato";
    font-weight: 300;
    letter-spacing: -0.1px;
}

.about-us > .container > .about-us-we {
    padding-top: 45px;
    display: grid;
    grid-template-columns: repeat(3, 300px);
    grid-gap: 20px 20px;
    justify-content: center;
}

.about-us > .container > .about-us-we > .about-us-we1 > .about-us-we-name {
    padding-top: 14px;
    font-size: 18px;
    line-height: 18px;
    font-family: "Lato";
    font-weight: 900;
    color: rgb(102, 109, 137);
    letter-spacing: 0.2px;
}

.about-us > .container > .about-us-we > .about-us-we1 > .about-us-we-text {
    padding-top: 11px;
    font-size: 12px;
    line-height: 21px;
    font-family: "Lato";
    font-weight: 400;
    text-align: left;
    color: rgb(102, 109, 137);
    letter-spacing: -0.08px;
}

.about-us > .container > .about-us-we > .about-us-we1 > a > .about-us-we-web {
    padding-top: 22px;
    padding-right: 3px;
}

.about-us > .container > .about-us-we > .about-us-we1 > a > .about-us-we-web:hover {
    opacity: 0.7;
    cursor: pointer;
    filter: drop-shadow(2px 2px 1px rgb(50, 55, 70));
}