body {
  margin: 0;
  font-family: "Lato", "Arial", sans-serif;
}

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

main {
  display: block;
  min-width: 1020px;
}

h1 {
  margin: 0.67em 0;
  font-size: 2em;
}

a {
  background-color: transparent;
}

img {
  border-style: none;
}

button,
select {
  margin: 0;
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  text-transform: none;
}

button {
  overflow: visible;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  padding: 0;
  border-style: none;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

.wrapper {
  max-width: 1020px;
  margin: 0 auto;
}

.header {
    min-width: 1020px;
    background-color: rgb(45, 48, 58);
    border-bottom: 6px solid rgb(50, 55, 70);
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
}

.logo {
    font-size: 25px;
    font-weight: 700;
    line-height: 20px;
    margin: 34px 0 35px 40px;
    text-transform: uppercase;
    letter-spacing: -0.475px;
    color: white;
}

.logo::after {
    content: "*";
    color: rgb(240, 108, 100);
}

.navbar {
    display: flex;
    margin-top: 38px;
    margin-right: 40px;
    list-style: none;
}

.navpoint {
    position: relative;
}

.navpoint a {
  font-size: 12px;
  font-weight: 700;
  line-height: 9px;
  color: rgb(255, 255, 255);
  text-decoration: none;
  text-transform: uppercase;
  transition: color 0.3s;
}

.navpoint a:hover {
  color: rgb(240, 108, 100);
}

.navpoint:nth-child(2) {
    margin-left: 30px;
    letter-spacing: -0.168px;
}

.navpoint:nth-child(5) {
    letter-spacing: -0.19px;
}

.navpoint + .navpoint {
    margin-left: 29px;
}

.navpoint + .navpoint::before {
    position: absolute;
    left: -16px;
    color: rgb(73, 78, 98);
    content: ".";
}

.slider {
  background-color: rgb(240, 108, 100);
}

.slider__wrapper {
  position: relative;
  display: flex;
  align-items: center;
  padding: 53px 0;
} 

  .arrow-left {
    background: url("assets/images/arrow-left.png") no-repeat 0 0;;
    margin-left: 42px;
  }
  
  .arrow-right {
    background: url("assets/images/arrow-right.png") no-repeat 0 0;
    margin-left: 55px;
  }
  
  .arrow-left,
  .arrow-right {
    width: 16px;
    height: 27px;
    margin-bottom: 11px;
    cursor: pointer;
    border: none;
    transition: filter 0.3s;
}


  .vertical-phone {
    margin-bottom: 11px;
    margin-left: 53px;
  }
  

  .horizontal-phone {
    margin-bottom: 12px;
    margin-left: 73px;
  }


  .services {
    background-color: rgb(242, 242, 242);
    border-bottom: 6px solid rgb(255, 255, 255);
  }

  .services__wrapper {
    padding: 69px 0 30px 0;
  }

  .services-head {
    margin: 0 0 0 40px;
    font-size: 30px;
    font-weight: 900;
    line-height: 17px;
    color: rgb(102, 109, 137);
    letter-spacing: -0.18px;
  }

  .services-head_text {
    margin: 27px 40px 0 40px;
    font-size: 18px;
    font-weight: 300;
    line-height: 30px;
    color: rgb(118, 126, 158);
    text-align: justify;
  }


  .services-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-right: 41px;
    margin: 45px 0 0 40px;
  }

  .services-item {
    display: flex;
    max-width: 300px;
    margin-bottom: 32px;
  }

  .service {
    margin: 0 0 0 19px;
  }

  .services-title {
    margin: 0;
    font-size: 18px;
    font-weight: 900;
    line-height: 17px;
    color: rgb(102, 109, 137);
    letter-spacing: -0.09px;
  }

  .services-text {
    height: 63px;
    margin: 11px 0 0 0;
    overflow: hidden;
    font-size: 12px;
    font-weight: 400;
    line-height: 21px;
    color: rgb(118, 126, 158);
    text-align: justify;
  }

  .services-item:nth-child(3) .service,
  .services-item:nth-child(6) .service {
    margin-left: 19px;
  }

  .services-item:nth-child(3) .service__title,
  .services-item:nth-child(6) .service__title {
    margin-left: 2px;
  }

  .icon {
    margin-top: 2px;
    margin-left: 2px;
  }

  @font-face {
    font-family: "Lato";
    font-style: normal;
    font-weight: 300;
    font-display: fallback;
    src: url("assets/fonts/lato-v16-latin-300.woff2") format("woff2"),
      url("assets/fonts/lato-v16-latin-300.woff") format("woff");
  }
  
  @font-face {
    font-family: "Lato";
    font-style: normal;
    font-weight: 400;
    font-display: fallback;
    src: url("assets/fonts/lato-v16-latin-regular.woff2") format("woff2"),
      url("assets/fonts/lato-v16-latin-regular.woff") format("woff");
  }
  
  @font-face {
    font-family: "Lato";
    font-style: normal;
    font-weight: 700;
    font-display: fallback;
    src: url("assets/fonts/lato-v16-latin-700.woff2") format("woff2"),
      url("assets/fonts/lato-v16-latin-700.woff") format("woff");
  }
  
  @font-face {
    font-family: "Lato";
    font-style: normal;
    font-weight: 900;
    font-display: fallback;
    src: url("assets/fonts/lato-v16-latin-900.woff2") format("woff2"),
      url("assets/fonts/lato-v16-latin-900.woff") format("woff");
  }
  


